.transitionContact1 {
    background: #f0ca99;
    transform: translateX(-230%);
    width: 1700px;
    clip-path: polygon(0% 0, 100% 0, 96% 100%, 5% 100%);

    animation: transition-contact1 1s cubic-bezier(0, 1, 1, 1) forwards;
}

.transitionContact1::after {
    content: "";
    position: absolute;
    inset: 0;
    align-self: center;
    background: #4b4237;
    width: 800px;
    height: 70%;
    clip-path: polygon(0% 0, 100% 0, 96% 100%, 5% 100%);

    animation: sub-transition-contact 1s cubic-bezier(0, 1, 1, 1) forwards;
}

.transitionContact2-1, .transitionContact2-2, .transitionContact2-3 {
    background: #e3a85b;
    transform: translateX(-230%);
    width: 1700px;
    clip-path: polygon(0% 0, 100% 0, 98% 100%, 3% 100%);

    animation: transition-contact2 1s cubic-bezier(0, 1, 1, 1) forwards;
}

.transitionContact2-1 {
    animation-delay: 100ms;
}

.transitionContact2-1::after {
    content: "";
    position: absolute;
    inset: 0;
    align-self: center;
    background: #3e3830;
    width: 966px;
    height: 60%;
    clip-path: polygon(0% 0, 100% 0, 98.5% 100%, 3% 100%);

    animation: sub-transition-contact 1s cubic-bezier(0, 1, 1, 1) forwards;
}

.transitionContact2-2 {
    animation-delay: 200ms;
}

.transitionContact2-2::after {
    content: "";
    position: absolute;
    inset: 0;
    align-self: center;
    background: #34302b;
    width: 966px;
    height: 60%;
    clip-path: polygon(0% 0, 100% 0, 98.5% 100%, 3% 100%);

    animation: sub-transition-contact 1s cubic-bezier(0, 1, 1, 1) forwards;
}

.transitionContact2-3 {
    animation-delay: 300ms;
}

.transitionContact2-3::after {
    content: "";
    position: absolute;
    inset: 0;
    align-self: center;
    background: #2a2724;
    width: 966px;
    height: 60%;
    clip-path: polygon(0% 0, 100% 0, 98.5% 100%, 3% 100%);

    animation: sub-transition-contact 1s cubic-bezier(0, 1, 1, 1) forwards;
}

.transitionContact3 {
    background: #c77d3e;
    transform: translateX(-230%);
    clip-path: polygon(0% 0, 100% 0, 98.5% 100%, 3% 100%);

    animation: transition-contact3 1s cubic-bezier(0, 1, 1, 1) forwards;
    animation-delay: 400ms;
}

.transitionContact3::after {
    content: "";
    position: absolute;
    inset: 0;
    align-self: center;
    background: #211f1c;
    width: 66.5%;
    height: 50%;
    clip-path: polygon(0% 0, 100% 0, 99.3% 100%, 3% 100%);

    animation: sub-transition-contact 1s cubic-bezier(0, 1, 1, 1) forwards;
}

@keyframes transition-contact1 {
    to {
        transform: translateX(-50%);
    }
}

@keyframes transition-contact2 {
    to {
        transform: translateX(-60%);
    }
}

@keyframes transition-contact3 {
    to {
        transform: translateX(-70%);
    }
}

@keyframes sub-transition-contact {
    to {
        transform: translateX(0);
    }
}