.journeyFadeCard {
    background: linear-gradient(#18181b 0%, transparent 20%, transparent 80%, #18181b 100%);
}

.ring-animation-0 {
    animation: ringAnimationIClock 130s linear infinite forwards;
}

@keyframes ringAnimationIClock {
    from {
        rotate: 360deg;
    }
    to {
        rotate: 0deg;
    }
}