@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-montserrat;
}

h1 {
  letter-spacing: -5px;
}

h2 {
  letter-spacing: -1px;
}

.fade-header {
  width: 0;
  gap: 0;
  border-bottom-width: 2px;
  color: #18181b;

  animation: fade-header 1s ease-in-out forwards;
  animation-delay: 1.2s;
}

.montserrat-400 {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@keyframes fade-header {
  to {
    width: 50vw;
    gap: 4rem;
    color: #f1f5f9;
  }
}